.contenedor-form{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #ececec;
}
.contenedor-form-poducto{
    background: #ffffff;
    min-width: 75vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-product{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-product form {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 450px;
    padding: 50px 100px 100px;
    margin-bottom: 100px;

}

.form-product form label {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 10px;
    font-size: 22px;
}

.form-product input {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}
.form-product select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}
.form-product input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 100%;
    width: 20px;
    height: 20px;
}

.form-product form label input[type="checkbox"]:checked + label::before {
    background-color: #020202;
    border-color: #fff;
}

.contenedor-form-poducto textarea {
    max-width: 350px;
    max-height: 300px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
}

.form-product  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #020202;
    color: #fff;
    cursor: pointer;
}

.form-product input[type="submit"]:hover {
    background-color: #4d4d4d;
}
.form-product form h1{
    font-size: 38px;
    margin-bottom: 50px;
}


