nav{
    background: linear-gradient(to right, #000000, #595959, #4f4e4e, #171717);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    min-height: 90px;
    margin-bottom: 50px;
    box-shadow: 2px 14px 8px #646363;

}
.title{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.title > h1 {
    font-size: 40px;
    text-shadow: 4px 3px 20px #868686;
    font-weight: bold;
    background: linear-gradient(to right, #ececec, #656565, #696969, #d5d5d5); /* Cambia los colores según tus preferencias */
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Arial Rounded MT Bold", serif;
}

.botones{
    display: flex;
    align-items: center;
    padding-right: 30px;

}
.botones > ul {
    display: flex;
    gap: 45px;
    list-style-type: none;
}
.botones ul li button{
    min-height: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px 22px 10px 22px;
    height: 38px;
    font-size: 15px;
    background: linear-gradient(to right, #3f3f3f, #5b5b5b, #797878, #9f9e9e);
    color: #ffffff;
    cursor: pointer;
}
.data-button{
    text-decoration: none;
    color: #ffffff;
}
.botones ul li button:hover{
    background: linear-gradient(to right, #595959, #777676, #ababab, #cecbcb);
    border: solid 3px #ffffff;
}